@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.section {
    display: flex;
}

.sale {
    margin: 10% 5% 5%;
    width: 650px;
    border-radius: 25px;
}

.text {
    margin: 8%;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 30px;
    color: #E76F51;
    font-family: 'Rock Salt', cursive;
    -webkit-text-stroke: .002em rgba(247, 218, 54, 0.767);
}

h3 {
    margin: 20px 0;
    color: rgb(52, 73, 104);
    font-size: 30px;
    font-weight: 900;
}